.hero {
  position: relative;
  height: 60vh;
  /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/con2.jpg");
  /* Update the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-color: #555;
  text-align: center;
}

.hero-content {
  padding: 20px;
  border-radius: 8px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero button {
  background-color: #01b6a0;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: white;
  color: #01b6a0;
}



#contact-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  top: 0;
  left: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Semi-transparent background */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centers content horizontally and vertically */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  left: 60vw;
  top: 20vh;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  /* Needed for the close button to position correctly */
  text-align: left;
}

.modal-content h2 {
  margin-bottom: 1vh;
  padding-left: 0.1rem;
  font-size: 1.5rem;
}

.modal-content label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #555;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-content button {
  background-color: #01b6a0;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.close {
  position: absolute;
  top: 12px;
  left: 31vw;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  font-weight: bold;
}

.close:hover {
  color: red;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .blog-container {
    flex-direction: column;
    align-items: center;
  }

  .blog {
    width: 100%;
  }

  .modal-content {
    padding: 15px;
  }
}