/* Profile image styling */

/* Hide default file input */
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.myprofile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.update-section {
  margin-top: 20px;
}

button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

input[readonly] {
  background-color: #e0e0e0;
}
.myprofile {
  display: flex;
  background-color: #d0cfda;
  width: 100%;
  overflow: hidden; 
  

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* user profile pic image */
.userprofile-img {
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  margin-left: 20vw;
  margin-top: 2vh;
}

.userprofile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
hr {
  width: 3px;
  height: 25vh;
  background-color: #aaa;
  position: relative;
  left: 20px;
  
}
.userinfo {
  margin-left: 20px;
  position: relative;
  left: 20px;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .userprofile-img {
    width: 15vw;
    height: 15vw;
  }
}

@media (min-width: 1025px) {
  .userprofile-img {
    width: 150px;
    height: 150px;
  }
}
